.chat-window {
    background-color: #313338;
    height: 100vh;
    border-left: 1px solid #1F2023;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: auto;
    row-gap: 4px;
  }
  
  .chat-container{
    padding: 4px;
    box-sizing: border-box;
    font-size: large;
    display: flex;
    align-items: center;
  }

  .chat-container:hover{
    background-color: #2E3035;
  }

  @media only screen and (max-width: 850px) {
    .chat-container{
      align-items: start;
    }
  }


  .chat-message {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
    word-break: break-all;
  }

  .chat-img{
    height: 2em;
    aspect-ratio: 1;
  }

  .message-content{
    word-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .chat-input {
    height: 40px;
    display: flex;
    padding: 10px;
    border-top: 1px solid #1F2023;
  }
  
  .chat-input input {
    flex: 1;
    padding: 5px;
  }
  
  .chat-input button {
    padding: 5px 10px;
    margin-left: 5px;
  }